[submodule "examples"]
	path = examples
	url = http://scm.angelcorp.be/git/be.angelcorp.celest.examples.git
[submodule "console"]
	path = console
	url = http://scm.angelcorp.be/git/be.angelcorp.celest.console.git
